<!DOCTYPE html>
<html ng-app="getYelp">
  <head>
    <meta charset="utf-8">
    <title>verticaldata1's bar coordiation website</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="core.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if(currentUser) { %>
            <% var profileLink="/profile/"+currentUser.facebook.id; %>
            <li><a href=<%=profileLink%>><%= currentUser.facebook.name %></a></li>
            <li><a href="/logout">Log out</a></li>
          <% } else { %>
            <li><a href="/auth/facebook">Facebook Log In</a></li>            
          <% } %>
        </ul>
      </div>
    </div>
    <div class="container-fluid" style="max-width: 50%; margin: auto">
      <% errors.forEach(function(error) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>  
        </div>
      <% }) %>
    </div>